.categoryList {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-categories);
}

.category {
  border-radius: var(--radius-btn);
  background-color: var(--color-text);
  color: var(--color-pencil);
  font-family: var(--font-poppins);
  font-size: 1.125rem;
  font-weight: 600;
  overflow: hidden;
}

.category a {
  display: block;
  padding: 0.5rem 0.75rem;
}

.react a:hover,
.react a:focus,
.react.active a {
  background-color: var(--color-react);
}

.javascript a:hover,
.javascript a:focus,
.javascript.active a,
.methods a:hover,
.methods a:focus,
.methods.active a {
  background-color: var(--color-js);
}

.category:has(a:focus-visible) {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (width > 35rem) {
  .category a {
    font-size: 1.25rem;
  }
}
