.categoryList {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-categories);
}

.category {
  color: var(--color-pencil);
  font-family: var(--font-poppins);
  font-size: 1.125rem;
  font-weight: 600;
}

.category a {
  display: block;
  border-radius: var(--radius-btn);
  padding: var(--padding-btn);
  background-color: var(--color-bg-category, var(--color-paper));
}

.category:is(.react) :is(a:hover, a:focus, a:active, .active a) {
  --color-bg-category: var(--color-react);
}

.category:is(.javascript, .methods) :is(a:hover, a:focus, a:active, .active a) {
  --color-bg-category: var(--color-js);
}

.category a:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (width > 35rem) {
  .category a {
    font-size: 1.25rem;
  }
}
