.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-wrapper);
  min-height: 100dvh;
  width: 100%;
  margin-inline: auto;
  padding: var(--padding-wrapper-xs);
  overflow: clip;
}

@media (width > 35rem) {
  .wrapper {
    max-width: var(--max-width-wrapper-sm);
    padding: var(--padding-wrapper);
  }
}

@media (width > 65.75rem) {
  .wrapper {
    max-width: var(--max-width-wrapper-md);
  }
}

@media (width > 97rem) {
  .wrapper {
    max-width: var(--max-width-wrapper-lg);
  }
}
