.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100%;
  width: 100%;
  margin-inline: auto;
  padding: 1.5rem;
  overflow: clip;
}

@media (min-width: 550px) {
  .wrapper {
    max-width: var(--max-width-card);
    padding: 2rem;
  }
}

@media (min-width: 1050px) {
  .wrapper {
    max-width: var(--max-width-wrapper-medium);
  }
}

@media (min-width: 1555px) {
  .wrapper {
    max-width: var(--max-width-wrapper-large);
  }
}
