.wrapper {
  position: relative;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-card);
  color: var(--color-pencil);
  backface-visibility: hidden;
  perspective: 1600px;
  transform-style: preserve-3d;
  transition: rotate 0.35s cubic-bezier(0.2, 0.2, 0.4, 0.8),
    transform 0.2s cubic-bezier(0, 0, 0.4, 0.8),
    box-shadow 0.2s cubic-bezier(0, 0, 0.4, 0.8);
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px var(--color-shadow);
}

.front,
.backWrapper {
  padding: var(--padding-card);
}

.front.javascript,
.front.methods {
  background-color: var(--color-js);
}

.front.react {
  background-color: var(--color-react);
}

.front.rotate {
  rotate: x 180deg;
}

.back {
  background-color: var(--color-bg-card);
  text-align: left;
  rotate: x -180deg;
}

.back.rotate {
  rotate: x 0deg;
}

.cardTitle {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
}

.back .cardTitle {
  margin-top: -0.125rem;
  margin-bottom: 0.75rem;
}

.back.methods .cardTitle {
  display: none;
}

.cardNotes {
  padding-left: 1.375rem;
}

.cardNote:not(:last-child) {
  margin-bottom: 0.5rem;
}

.cardNote::marker {
  content: '✏️\2002';
  font-size: 0.75rem;
}

@media (min-width: 550px) {
  .front.rotate {
    rotate: 1 0.1 0.2 180deg;
  }

  .back {
    rotate: 1 0.1 0.2 -180deg;
  }

  .back.rotate {
    rotate: 1 0.1 0.2 0deg;
  }

  .cardTitle {
    font-size: 1.25rem;
  }
}
