.wrapper {
  position: relative;
  perspective: 100rem;
  min-height: var(--min-height-card, 6.25rem);
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-card);
  color: var(--color-pencil);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: rotate 0.3s var(--easing-fn-rotate),
    transform 0.2s var(--easing-fn-translate);
}

.card:hover {
  transform: translateY(-2px);
}

.card:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.front,
.backWrapper {
  padding: var(--padding-card, 1rem);
}

.front.javascript,
.front.methods {
  background-color: var(--color-js);
}

.front.react {
  background-color: var(--color-react);
}

.front.rotate {
  rotate: y 180deg;
}

.back {
  background-color: var(--color-bg-card);
  text-align: left;
  rotate: y -180deg;
}

.back.rotate {
  rotate: y 0deg;
}

.cardTitle {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
}

.back .cardTitle {
  margin-top: -0.125rem;
  margin-bottom: 0.75rem;
}

.back.methods .cardTitle {
  display: none;
}

.cardNotes {
  padding-left: 1.375rem;
}

.cardNote:not(:last-child) {
  margin-bottom: 0.5rem;
}

.cardNote::marker {
  content: '✏️\2002';
  font-size: 0.75rem;
}

@media (width > 35rem) {
  .front.rotate {
    rotate: x 180deg;
  }

  .back {
    rotate: x -180deg;
  }

  .back.rotate {
    rotate: x 0deg;
  }

  .cardTitle {
    font-size: 1.25rem;
  }
}
