:root {
  --color-bg: hsl(218, 30%, 7%);
  --color-bg-card: hsl(62, 100%, 95%);
  --color-bg-code: hsl(60, 27%, 90%);
  --color-bg-snippet: hsl(221, 27%, 14%);
  --color-bg-msg: hsl(217, 94%, 94%);
  --color-text: hsl(60, 100%, 98%);
  --color-pencil: hsl(220, 24%, 15%);
  --color-ink: hsl(232, 90%, 48%);
  --color-comment: hsl(217, 32%, 73%);
  --color-shadow: hsla(219, 21%, 36%, 0.8);
  --color-react: hsl(191, 98%, 80%);
  --color-js: hsl(54, 98%, 77%);
  --color-accent: hsla(345, 85%, 62%);
  --radius-card: 12px;
  --radius-btn: 6px;
  --radius-code: 4px;
  --min-width-card: 60ch;
  --max-width-card: 70ch;
  --max-width-wrapper-medium: 1100px;
  --max-width-wrapper-large: 1550px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-source-sans-3), sans-serif;
  line-height: 1.5;
  text-size-adjust: none;
}

h1,
h2 {
  font-family: var(--font-poppins);
  text-wrap: balance;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

p:not(:last-of-type) {
  margin-bottom: 0.25rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: text-underline-offset 0.2s cubic-bezier(0.65, 0, 0.165, 1);
}

main a {
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

main a:hover,
main a:focus-visible {
  text-underline-offset: 4px;
}

main a:focus-visible {
  outline: 4px solid var(--color-accent);
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

ul[role='list'] {
  list-style: none;
}

code {
  display: block;
  font-family: var(--font-source-code-pro);
  font-size: 0.938rem;
}

code:not(.term, pre code) {
  display: inline-block;
  border-radius: var(--radius-code);
  padding: 1px 4px;
  background-color: var(--color-bg-code);
  font-weight: 600;
  line-height: 1.2;
}

.term {
  color: var(--color-ink);
  font-weight: 600;
}

code.term {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.nestedNotes {
  padding-left: 1.3rem;
}

.danger::marker {
  content: '❌\2002';
  font-size: 0.75rem;
}

.not-found {
  max-width: 100%;
  padding: 1rem 1.25rem 1.125rem;
  border-radius: var(--radius-card);
  background-color: var(--color-bg-msg);
  color: var(--color-pencil);
}

@media (min-width: 550px) {
  code.term {
    margin-bottom: 0;
  }

  .not-found {
    max-width: fit-content;
  }
}
