:root {
  --color-bg: #0d1118;
  --color-bg-card: #feffe6;
  --color-bg-code: #edede0;
  --color-bg-snippet: #1a202d;
  --color-light-blue: #98ecff;
  --color-yellow: #fff6a0;
  --color-text: #fffff4;
  --color-pencil: #1c222e;
  --color-ink: #0404f4;
  --color-comment: #7a91b8;
  --min-width-card: 60ch;
  --max-width-card: 70ch;
  --max-width-wrapper-medium: 1100px;
  --max-width-wrapper-large: 1550px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-source-sans-3), sans-serif;
  line-height: 1.5;
  text-size-adjust: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

h1,
h2 {
  font-family: var(--font-poppins);
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

ul[role='list'] {
  list-style: none;
}

code {
  display: block;
  font-family: var(--font-source-code-pro);
  font-size: 0.938rem;
}

code:not(.term, pre code) {
  display: inline-block;
  border-radius: 4px;
  padding: 1px 4px;
  background-color: var(--color-bg-code);
  font-weight: 600;
  line-height: 1.2;
}

.term {
  color: var(--color-ink);
  font-weight: 600;
}

code.term {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

@media (min-width: 550px) {
  main {
    margin-bottom: 3.5rem;
  }

  code.term {
    margin-bottom: 0;
  }
}
