:root {
  --color-bg: hsl(218deg 30% 7%);
  --color-bg-card: hsl(62deg 100% 95%);
  --color-bg-card-skeleton: hsl(218deg 38% 16%);
  --color-bg-card-skeleton-secondary: hsl(218deg 38% 16% / 0.5);
  --color-bg-code: hsl(60deg 27% 90%);
  --color-bg-snippet: hsl(221deg 27% 14%);
  --color-bg-msg: hsl(217deg 94% 94%);
  --color-paper: hsl(60deg 100% 98%);
  --color-pencil: hsl(220deg 24% 15%);
  --color-ink: hsl(232deg 90% 48%);
  --color-comment: hsl(217deg 32% 73%);
  --color-shadow: hsl(219deg 21% 36% / 0.8);
  --color-react: hsl(191deg 98% 80%);
  --color-js: hsl(54deg 98% 77%);
  --color-accent: hsl(345deg 85% 62%);

  --size-base: 0.25rem;

  --radius-card: calc(var(--size-base) * 4);
  --radius-snippet: calc(var(--size-base) * 3);
  --radius-btn: calc(var(--size-base) * 3);
  --radius-code: var(--size-base);

  --outline-width: var(--size-base);
  --outline: var(--outline-width) solid var(--color-accent);
  --outline-offset: 0;

  --space-base: 1rem;

  --gap-categories: calc(var(--space-base) * 0.5);
  --gap-cards: calc(var(--space-base) * 1);
  --gap-wrapper: calc(var(--space-base) * 2);

  --padding-wrapper-xs: calc(var(--space-base) * 1.5);
  --padding-wrapper: calc(var(--space-base) * 2);
  --padding-intro: 0.938rem var(--padding-intro-inline) 1rem;
  --padding-intro-inline: 1.25rem;
  --padding-msg: 1rem 1.25rem 1.125rem;
  --padding-btn: 0.5rem 0.75rem;
  --padding-snippet: 0.75rem 1rem;
  --padding-code: 0.063rem 0.25rem;

  --min-width-card: 60ch;
  --max-width-card: 70ch;
  --max-width-wrapper-sm: calc(
    var(--max-width-card) + var(--padding-wrapper) * 2
  );
  --max-width-wrapper-md: calc(
    var(--max-width-card) * 2 + var(--gap-cards) + var(--padding-wrapper) * 2
  );
  --max-width-wrapper-lg: calc(
    var(--max-width-card) * 3 + var(--gap-cards) * 2 + var(--padding-wrapper) *
      2
  );

  --easing-spring: linear(
    0,
    0.008 1.2%,
    0.035 2.5%,
    0.077 3.8%,
    0.14 5.3%,
    0.281 8%,
    0.716 15.4%,
    0.833 17.7%,
    0.929 19.9%,
    1.004 22%,
    1.066 24.2%,
    1.111 26.4%,
    1.14 28.6%,
    1.159 32%,
    1.152 35.8%,
    1.127 39.4%,
    1.018 51.6%,
    0.993 56.1%,
    0.979 60.7%,
    0.975 67.8%,
    0.999 86.7%,
    1
  );
  --easing-rotate: linear(
    0,
    0.006 1.6%,
    0.023 3.3%,
    0.097 7.3%,
    0.19 11%,
    0.507 22.4%,
    0.676 29.7%,
    0.794 36.4%,
    0.882 43.5%,
    0.921 47.9%,
    0.951 52.6%,
    0.991 63.5%,
    1.006 76.9%,
    1
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-paper);
  font-family: var(--font-source-sans-3), sans-serif;
  line-height: 1.5;
  text-size-adjust: none;
}

h1,
h2 {
  font-family: var(--font-poppins);
  text-wrap: balance;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

p:not(:last-of-type) {
  margin-bottom: 0.25rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s var(--easing-spring),
    color 0.3s var(--easing-spring),
    text-underline-offset 0.3s var(--easing-spring);
}

main a {
  border-radius: var(--radius-code);
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

main a:hover {
  text-underline-offset: 4px;
}

main a:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

ul[role='list'] {
  list-style: none;
}

code {
  display: block;
  font-family: var(--font-source-code-pro);
  font-size: 0.938rem;
}

code:not(.term, pre code) {
  display: inline-block;
  border-radius: var(--radius-code);
  padding: var(--padding-code);
  background-color: var(--color-bg-code);
  font-weight: 600;
  line-height: 1.2;
}

.term {
  color: var(--color-ink);
  font-weight: 600;
}

code.term {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.nestedNotes {
  padding-left: 1.3rem;
}

.danger::marker {
  content: 'âŒ\2002';
  font-size: 0.75rem;
}

.not-found {
  max-width: 100%;
  padding: var(--padding-msg);
  border-radius: var(--radius-card);
  background-color: var(--color-bg-msg);
  color: var(--color-pencil);
}

@media (width > 35rem) {
  code.term {
    margin-bottom: 0;
  }

  .not-found {
    max-width: fit-content;
  }
}
