.header {
  margin-bottom: 2rem;
}

.header__title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}

.header__intro {
  color: var(--color-comment);
  font-size: 1rem;
}

@media (min-width: 550px) {
  .header {
    margin-bottom: 4rem;
  }

  .header__title {
    font-size: 4rem;
  }

  .header__intro {
    font-size: 1.125rem;
  }
}
