.header {
  margin-bottom: 2rem;
  font-family: var(--font-poppins);
}

.header__title {
  display: inline-block;
  margin-bottom: 0.25rem;
  border-radius: var(--radius-btn);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}

.header__title:hover,
.header__title:focus-visible {
  color: var(--color-comment);
}

.header__title:focus-visible {
  outline: 4px solid var(--color-accent);
}

.header__intro {
  color: var(--color-comment);
}

.line {
  position: relative;
}

.line::after {
  position: absolute;
  top: 0;
  left: 0;
  content: 'wannabe';
  color: transparent;
  text-decoration-line: line-through;
  text-decoration-thickness: 0.375rem;
  text-decoration-color: var(--color-accent-transparent);
  text-decoration-style: solid;
  rotate: -4deg;
}

@media (min-width: 550px) {
  .header {
    margin-bottom: 4rem;
  }

  .header__title {
    font-size: 4rem;
  }

  .header__intro {
    font-size: 1.125rem;
  }
}
