.snippet {
  margin: 0.5rem 0 0 -1.375rem !important;
  border-radius: 6px !important;
}

.snippet pre {
  background-color: var(--color-bg-snippet) !important;
  padding: 0.75rem 1rem !important;
}

.snippet pre code {
  min-width: auto !important;
  line-height: 1.65;
}

.snippet pre code div {
  padding: 0 !important;
}
