.intro {
  max-width: var(--max-width-card);
  padding: var(--padding-intro);
  border-radius: var(--radius-card);
  background-color: var(--color-bg-card);
  color: var(--color-pencil);
}

.intro__title {
  margin-bottom: 0.75rem;
}

.intro p {
  padding-left: 1.72rem;
}

.intro p:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.intro p.slogan {
  margin: 0.875rem -1.25rem;
  padding: 0.25rem 1.25rem;
  background-color: var(--color-bg);
  color: var(--color-paper);
  font-family: var(--font-source-code-pro);
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-align: center;
}

code.term {
  padding-block: 0.125rem;
}

.emoji {
  margin-left: -1.97rem;
  font-size: 1.25rem;
}
