.skeletonSection {
  display: grid;
  gap: 1rem;
}

.skeletonCard {
  display: grid;
  align-content: center;
  align-items: baseline;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  border-radius: var(--radius-card);
  background-color: #1a263a;
}

.emoji {
  justify-self: end;
  margin-right: -20px;
  font-size: 1.5rem;
}

.line,
.line::before,
.line::after {
  position: relative;
  left: 18px;
  width: 0.875rem;
  height: 1px;
  background-color: var(--color-shadow);
}

.line::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -2px;
}

.line::after {
  content: '';
  position: absolute;
  top: -4px;
  left: 1px;
  width: 1rem;
}

@media (min-width: 550px) {
  .skeletonSection {
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--min-width-card), 1fr)
    );
  }
}

@media (prefers-reduced-motion: no-preference) {
  .skeletonCard {
    animation: glow 1000ms ease-in-out infinite alternate;
  }
}

@keyframes glow {
  to {
    background-color: #1a263a80;
  }
}
