.skeletonSection {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, var(--min-width-card)), 1fr)
  );
  gap: var(--gap-cards);
}

.skeletonCard {
  display: grid;
  align-content: center;
  align-items: baseline;
  grid-template-columns: repeat(2, 1fr);
  height: var(--min-height-card);
  border-radius: var(--radius-card);
  background-color: var(--color-bg-card-skeleton);
}

.emoji {
  justify-self: end;
  margin-right: -1.25rem;
  font-size: 1.5rem;
}

.line,
.line::before,
.line::after {
  position: relative;
  left: 18px;
  width: 0.875rem;
  height: 1px;
  background-color: var(--color-shadow);
}

.line::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -2px;
}

.line::after {
  content: '';
  position: absolute;
  top: -4px;
  left: 1px;
  width: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .skeletonCard {
    animation: glow 1000ms ease-in-out infinite alternate;
  }
}

@keyframes glow {
  to {
    background-color: var(--color-bg-card-skeleton-secondary);
  }
}
